.App {
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: #bceaf9;
}

.container-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5a7078;
    width: 35vw;
}